vrrp_script chk_haproxy {
  script "killall -0 haproxy"  # check haproxy
  interval 2                   # every 2 seconds
  weight 2                     # +2 to priority if OK
}

vrrp_instance VI_1 {
  interface {{ ansible_facts.default_ipv4.interface }}
  state BACKUP
  virtual_router_id 51
  priority {{ k8s_ha_cluster_priority }}

  virtual_ipaddress {
    {{ k8s_ha_cluster_virtual_ip }}/24          # virtual IP
  }

  track_script {
    chk_haproxy
  }
}
